@charset"utf-8";


*,*:before,*:after{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html{
	font-family:"microsoft yahei",sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-size:62.5%;
	-webkit-user-select: none;/*涓嶅厑璁搁€変腑鏂囨湰*/
	-moz-user-select: -moz-none;*/
	-webkit-touch-callout: none;/*绯荤粺鑿滃崟琚鐢�*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*娓呴櫎tap鏃惰儗鏅鑹查珮浜�*/
  	-moz-tap-highlight-color: rgba(0, 0, 0, 0);*
}
a:focus,input:focus,p:focus,span:focus,div:focus{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body{
	font-size:12px;/*1.4脳10px=14px*/
	line-height:1.6;
	-webkit-font-smoothing:antialiased;/*瀛椾綋骞虫粦娓呮櫚*/
	-moz-osx-font-smoothing:grayscale;/*瀛椾綋骞虫粦娓呮櫚*/
	min-height: 100%;
	-webkit-overflow-scrolling:touch;
}

html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,
form,button,input,textarea,fieldset,th,td,header,footer,section,aside,details,
menu,article,section,nav,address,hgroup,figure,figcaption,legend{
	margin:0;
	padding:0;
}



ul,ol,dl{
	list-style-type:none;
}

img{
	border:0;
}

audio,canvas,progress,video{
	display:inline-block;
}

audio:not([controls]){
	display:none;
}

svg:not(:root){     
	overflow:hidden;
	}
	
a{
	text-decoration:none;
	background: transparent;
	color:#333;
}

:active{
	outline:none;
}

:focus{
	outline:none;
}

[disabled]{
  cursor: default;
}

iframe{
	border: 0;
}

address,caption,cite,code,dfn,em,th,var{
	font-style:normal;
}


pre {
  white-space: pre-wrap;
  overflow: auto;
}


input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="password"]{
	-webkit-appearance:none;
	outline:none;
}

input[type="radio"],input[type="checkbox"] {
    cursor: pointer;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
	height:auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}

i,span,time,a{
	display:inline-block;
}
small,em,i,strong{
	font-style: normal;
	font-weight:normal;
}

table{
	width:100%;
	empty-cells:show;
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0;
}

table th,table td{
	text-align:left;
}
	
.table th{
	font-weight:bold;
}


.fl{
	float:left!important;
	}
	
.fr{
	float:right!important;
	}

.cl:after,.cl{
	content:"\20";
	display:block;
	clear:both;
}

.none{
	display: none;
}
	


